# DERBY
DERBY_DATABASE=

# HSQLDB
HSQLDB_DATABASE=


# ORACLE
ORACLE_ADMIN_PASSWORD=
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREEPDB1
ORACLE_USER=
ORACLE_PASSWORD=

# H2
H2_DATABASE=

# MARIADB
MARIADB_ROOT_PASSWORD=PASSWORD_ROOT
MARIADB_HOST=localhost
MARIADB_PORT=3306
MARIADB_DATABASE=DATABASE
MARIADB_USER=USER
MARIADB_PASSWORD=PASSWORD

# MARIADB
SQLITE_DATABASE=