# =========================
# ENTORNOS VIRTUALES
# =========================
.venv/
.env
__pycache__/
*.pyc

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*
!.env.example

# =========================
# VS CODE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# LOGS
# =========================
*.log

# =========================
# TEST / COBERTURA
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db

# =====================
# TESTS
# =====================

prueba_h2/
prueba_oracle/
prueba_derby/
prueba_hsqldb/
prueba_mariadb/
prueba_sqlite/

# ==================
# SQLITE
# =================
*.db
backend/database/

# Bases de datos locales
data/databases/derby/
data/databases/h2/
data/databases/hsqldb/