# =========================
# ENTORNOS VIRTUALES
# =========================
.venv/
venv/
env/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*
!.env.example

# =========================
# VS CODE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# =========================
# LOGS
# =========================
*.log

# =========================
# TEST / COBERTURA
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# ARCHIVOS TEMPORALES
# =========================
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db